* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

main {
    margin: 0 auto;
    width: 1410px;
    height: 2253px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

body {
    background-color: rgb(15, 15, 15);
}

header {
    padding-top: 400px;
    background-image: url(/Img/banner.png);
}

.section1 h1 {
    font-size: 40px;
    margin: 40px 0px 0px 570px;
    letter-spacing: 5px;
}

.section1 p {
    float: left;
    width: 1000px;
    font-size: 20px;
    margin: 40px 0px 0px 230px;
    line-height: 23px;
}

.txtright {
    float: left;
    margin: 40px 0px 0px 80px;
    font-size: 20px;
    width: 550px;
    line-height: 23px;
}

.img {
    margin: 55px 0px 0px 100px;
    border-radius: 20px;
}

.navigation_bar {
    background-color: black;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
}

.navigation_bar a {
    text-decoration: none;
    margin: 15px 0px 0px 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.navigation_bar a:hover {
    text-decoration: underline;
}

video {
    margin: 100px 0px 0px 270px;
    border-radius: 20px;
}

h2 {
    margin: 30px 0px 0px 470px;
    text-transform: uppercase;
}

h2 a{
    color: #e50914;
}

footer {
    background-color: black;
    padding: 100px 0px 50px 0px;
    margin: 100px 0px 0px 0px;
    color: white;
}

footer p {
    font-size: 15px;
    margin-left: 50px;
}